In [1]:
from fastai2.tabular.all import *

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [3]:
dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, y_names="salary",
    cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race'],
    cont_names = ['age', 'fnlwgt', 'education-num'],
    procs = [Categorify, FillMissing, Normalize])

In [4]:
learn = tabular_learner(dls, metrics=accuracy)
learn.fit_one_cycle(15)

In [5]:
learn.predict(df.iloc[0])

(   workclass  education  marital-status  occupation  relationship  race  \
 0        5.0        8.0             3.0         0.0           6.0   5.0

    education-num_na       age    fnlwgt  education-num  salary
 0               1.0  0.762793 -0.837396       0.752865     1.0  ,
 tensor(1),
 tensor([0.4151, 0.5849]))

In [6]:
test_df = df.copy()
test_df.drop(['salary'], axis=1, inplace=True)
dl = learn.dls.test_dl(test_df)
###
learn.get_preds(dl=dl)

(tensor([[4.1512e-01, 5.8488e-01],
         [1.9511e-01, 8.0489e-01],
         [9.9947e-01, 5.3267e-04],
         ...,
         [5.7765e-01, 4.2235e-01],
         [6.7786e-01, 3.2214e-01],
         [6.7229e-01, 3.2771e-01]]),
 None)